body.ng-scope {
  padding: 0;
}

#ApplicationPage h1,
#ApplicationPage h2,
#ApplicationPage h3 {
  margin-bottom: 0.5em;
  color: rgba(15, 23, 42, 0.88);
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3636363636363635;
}


#ApplicationPage .success {
    border: 1px solid #48da94;
    background-color: #cfffe3;
}

#ApplicationPage .BankResultLabel{
	padding: 4px 16px;
	font-weight: 300;
	font-size: 16px;
}
#BankCredentials .big-button {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  text-shadow: none;
  color: rgba(15, 23, 42, 0.88);
	height: auto;
}

#BankCredentials br {
	content:"";
}

#BankCredentials .btn-success:hover,
#BankCredentials .btn-success:focus,
#BankCredentials .btn-success:active,
#BankCredentials .btn-success.active,
#BankCredentials .btn-success.disabled,
#BankCredentials .btn-success[disabled] {
  color: #ffffff;
  background-color: #5059ff;
}


#BankCredentials .btn-inverse {
	font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #fff;
  border: 1px solid #5059ff;
  border-color: #5059ff;
  border-bottom-color: #5059ff;
  text-shadow: none;
  color: #5059ff;
		height: auto;
}

#bankdetails + div {
  max-width: 100% !important; /* Overrides a specific inline style */
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

#main {
  margin-right: 0;
  margin-left: 0;
}
#BankSelect .input-append,
#BankSelect .input-append .add-on,
#BankSelect .input-prepend .add-on {
  background-color: #fff;
  border-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  box-shadow: none;
}


#ApplicationPage .btn {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  text-shadow: none;
  color: rgba(15, 23, 42, 0.88);
		height: auto;
}

#ApplicationPage .btn {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  text-shadow: none;
  color: rgba(15, 23, 42, 0.88);
		height: auto;
}


#ApplicationPage .big-button {
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 1.5;
}

#ApplicationPage .btn-success{
	font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #fff;
  border: 1px solid #5059ff;
  border-color: #5059ff;
  border-bottom-color: #5059ff;
  text-shadow: none;
  color: #5059ff;
		height: auto;
}

#ApplicationPage .btn-link{
	font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  text-shadow: none;
  color: rgba(15, 23, 42, 0.88);
		height: auto;
}

#ApplicationPage .btn-inverse{
		font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #5059ff;
  border: 1px solid #5059ff;
  border-color: #5059ff;
  border-bottom-color: #5059ff;
  text-shadow: none;
  color: #fff;
		height: auto;
}

#BankSelect .btn {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  text-shadow: none;
  color: rgba(15, 23, 42, 0.88);
		height: auto;
}

#LoginStatus .btn {
		font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #fff;
  border: 1px solid #5059ff;
  border-color: #5059ff;
  border-bottom-color: #5059ff;
  text-shadow: none;
  color: #5059ff;
		height: auto;
}

#LoginStatus .btn-primary{
font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #fff;
  border: 1px solid #5059ff;
  border-color: #5059ff;
  border-bottom-color: #5059ff;
  text-shadow: none;
  color: #5059ff;
		height: auto;
}


#Q-Benefits .lead +div {
	  max-width: 100% !important; /* Overrides a specific inline style */
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
	margin-bottom: 0 !important;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

#centrelinkLogin .page-header + div{
	max-width: 100% !important; /* Overrides a specific inline style */
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
	margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;

}
#centrelinkLogin  label{
	font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#Terms #loading + div{
  max-width: 100% !important; /* Overrides a specific inline style */
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.BankResultLabel .icon-ok{
	margin-top: 2px!important;
}

#LoginStatusHeader {
	 color: rgba(15, 23, 42, 0.88)!important;
}

#Terms .big-button, #Q-Benefits .big-button {
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 1.5;
}

#Terms .btn-success, #Q-Benefits .btn-success{
	font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #fff;
  border: 1px solid #5059ff;
  border-color: #5059ff;
  border-bottom-color: #5059ff;
  text-shadow: none;
  color: #5059ff;
		height: auto;
}

#Terms .btn-link, #Q-Benefits .btn-link{
	font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  text-shadow: none;
  color: rgba(15, 23, 42, 0.88);
		height: auto;
}

#Terms .btn-inverse, #Q-Benefits .btn-inverse{
		font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
  background-image: none;
  box-shadow: 0 2px 0 rgba(15, 23, 42, 0.02);
  background-color: #5059ff;
  border: 1px solid #5059ff;
  border-color: #5059ff;
  border-bottom-color: #5059ff;
  text-shadow: none;
  color: #fff;
		height: auto;
}

#BankSelect .input-append .bank-select-label {
  font-size: 14px;
  border-radius: 0 ;
  line-height: 20px;
	margin-left: 0;
}

#BankSelect .input-append span .bank-select-label {
  font-size: 14px;
  border-radius: 0;
}
#BankSelect .input-append,
#BankSelect .input-prepend {
  margin: 0;
}
#BankSelect .input-append {
  margin-left: 2px;
}

#ui-id-1 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#BankSelect .bank-select {
  font-size: 18px !important;
  font-weight: 300;
  line-height: 1.5 !important;
  display: block;
  width: 100% !important;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 33px !important;
}

#ApplicationPage textarea,
#ApplicationPage input[type="text"],
#ApplicationPage input[type="password"],
#ApplicationPage input[type="datetime"],
#ApplicationPage input[type="datetime-local"],
#ApplicationPage input[type="date"],
#ApplicationPage input[type="month"],
#ApplicationPage input[type="time"],
#ApplicationPage input[type="week"],
#ApplicationPage input[type="number"],
#ApplicationPage input[type="email"],
#ApplicationPage input[type="url"],
#ApplicationPage input[type="search"],
#ApplicationPage input[type="tel"],
#ApplicationPage input[type="color"],
#ApplicationPage .uneditable-input {
  background-image: none;
  box-shadow: none;
  border: 1px solid #d9d9d9;
  border-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
}

#bankdetails {
  max-width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 278px;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

#bankdetails label,
#bankdetails input,
#bankdetails button,
#bankdetails select,
#bankdetails textarea {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

#ApplicationPage {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  box-sizing: border-box;
}
